body {
    background-color: #eef9bf;
}

h1{
    font-family: 'Encode Sans', sans-serif;
    color: #75B79E;
    font-size: 56PX;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content{
    margin: 0 auto;
    width: 950px;
}

.cards{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 120px;
    height: 150px;
    margin-right: 34px;
    margin-bottom: 34px;
    backface-visibility: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
}

.card:active{
    transform: scale(0.97);
}

.card.flip{
    transform: rotateY(180deg);
}

.verso, .frente {
    border-radius: 5px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    object-fit: contain;
    position: absolute;
}

.frente{
    transform: rotateY(180deg)
}

@media (max-width: 500px){
    h1{
        font-size: 36px;
        width: 100%;
    }

    .content{    
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cards{
        display: block;
    }


}